@charset "ISO-8859-1";
    
.textoMenu{
	font-size: 0.8em;
}

#contenido{
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.nobot > div > div{
	width: 100% !important;
}


